html, body, body > div {
	width: 100%;
	height: 100%;
	margin: 0;
}

body { background-color: #CCC; }

/* *** CSS SPECIFIC FOR BOTH LOGIN/REGISTER PAGES *** */
.userform.body-wrapper {
	min-width: 700px;
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

/* general flex container css */
.userform.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 100%;
}

	/* left-side css */
	.userform .flex-container.main-flex {
		flex: 2;
	}

	/* right-side css */
	.userform .flex-container.login-flex,
	.userform .flex-container.register-flex {
		flex: 1%;
		justify-content: flex-end;
		height: 100%;
		max-width: 550px;
	}

#login #login-area, #register #register-area {
	height: 100%;
	border-right: 1px solid #000;
	background-color: #c5c1c0;
	width: 100%;
}

#profile-wrapper {
	width: 450px;
	margin: auto;
}

/* css to keep login/register sidebar the full height of a page */
.userform .sticky-wrapper {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: sticky;
	top: 5%;
	background-color: inherit;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	scrollbar-width: none;
}

/* title/logo area css */
.userform .logo {
	height: 100px;
	background-image: linear-gradient(to bottom, rgba(247,206,62,1), rgba(255,0,0,0));
	width: 100%;
	padding: 8% 0;
	text-align: center;
}

.userform .logo h3 {
	font-size: 60px;
	text-align: center;
	margin-top: 0px;
}

/* registration form css */
#login-form, #register-form, #profile-form {
	width: 450px;
	height: 55%;
	margin: auto;
}

#login-wrapper, #register-wrapper, #profile-wrapper {
	width: 100%;
	margin: 8% 0;
}

.userform .field-row {
	width: 100%;
	margin-bottom: 40px;
}

.userform .field { 
	position: relative;
}

.select.floating-label {

}

input {
	transition: all 0.5s;
	background-color: transparent;
	outline: none;
}

/* floating label css */
.userform input.floating-label {
	margin: 0;
	width: 100%;
	height: 30px;
	font-size: 18px;
	background: transparent;
	border: none;
	outline: none;
	background: transparent;
	position: relative;
	border-bottom: 1px solid gold;
}

	/* hide placeholder text */
	.userform input.floating-label:focus::placeholder {
		opacity: 0;
	}

	.userform input.floating-label::placeholder {
		opacity: 0;
	}

	.field > input {
		z-index: 2;
	}

	.label-wrapper {
		z-index: 2;
	}

	.label-wrapper:hover, input.floating-label:hover + .label-wrapper {
		z-index: 1;
	}

	/* remove outline when input field is active */
	.userform input.floating-label:focus
	{ outline: none; }


/* initial label positioning */
.userform .label-wrapper {
	display: table;
	position: absolute;
	height: 31px;
	top: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.userform .floating-label + .label-wrapper {
	transition: all 0.3s;
	font-size: 18px;
	top: 0;
	font-family: Tahoma;
	font-weight: 400;
}

.userform .floating-label label {
	display: table-cell;
	vertical-align: middle;
	padding: 1px;
}
	/* maintain label floating when input is focused or contains data */
	.userform .floating-label:focus + .label-wrapper,
	.userform .floating-label:not(:placeholder-shown) + .label-wrapper {
		font-size: 14px;
		top: -25px;
		left: -10px;
	}


/* error message css */
.userform .errors {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: red;
	margin-top: 5px;
	position: absolute;
	left: 0;
	bottom: -20px;
}

/* button css */
.button-area {
	height: 100px;
	text-align: center;
	margin: auto;
}

.button-grid {
	display: grid;
	width: 300px;
	grid-template-columns: 50fr 50fr;
	grid-column-gap: 5px;
	margin: auto;
}

button.form-button {
	background-color: #f7ce3e;
	font-size: 20px;
	border: none;
	border-radius: 25px;
	width: 120px;
	height: 40px;
	transition: all 0.3s;
	text-transform: lowercase;
	margin: auto;
}

	button.form-button:hover {
		background-color: #ffe073;
	}

	.button-area button:hover { background-color: #ffe073; }
/* ***END GENERAL CSS FOR LOGIN/REGISTER PAGES*** */

/* ***CSS SPECIFIC TO REGISTER PAGE*** */
/* grid css for name row and city/state/zip row in register form */
#register .grid-container.fnln, #profile-wrapper .grid-container.fnln{
	display: grid;
	grid-template-columns: 215px 215px;
	grid-column-gap: 20px;
}

#register .grid-container.csz, #profile-wrapper .grid-container.csz {
	display: grid;
	grid-template-columns: 220px 70px 120px;
	grid-column-gap: 20px;
	position: relative;
}

/* error message css */
.error { position: relative; }
/* ***END CSS SPECIFIC TO REGISTER PAGE*** */

#react-select-3-input {
	transition: none !important;
}