html, body, body > div {
	width: 100%;
	height: 100%;
	margin: 0;
}
.body-wrapper {
	min-width: 700px;
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

/* general flex container css */
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 100%;
}

	/* left-side css */
	.userform .flex-container.main-flex {
		flex: 2;
		background-image: url('../assets/rig.jpg');
		background-position:left;
		background-size: cover;
		height: calc(100%);
	}

	/* right-side css */
	.userform .flex-container.login-flex,
	.userform .flex-container.register-flex {
		flex: 1%;
		justify-content: flex-end;
		height: 100%;
		max-width: 550px;
	}

#login #login-area, #register #register-area {
	height: 100%;
	width: 100%;
}

/* css to keep login/register sidebar the full height of a page */
.userform .sticky-wrapper {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: sticky;
	top: 5%;
	background-color: inherit;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	scrollbar-width: none;
}

/* title/logo area css */
.userform .logo {
	text-align: center;
}

/* registration form css */
form.userform {
	max-width: 80%;
	min-width: 20%;
	height: 55%;
	margin: auto;
}

#login-wrapper, #register-wrapper, #profile-wrapper, #quote-wrapper, #history-wrapper {
	width: 100%;
	margin: 8% 0;
}

.userform .field-row {
	width: 100%;
	margin-bottom: 40px;
}

.userform .field {
	position: relative;
}

.border-wrapper, input, select {
	transition: all 0.5s;
}

input {
	width: calc(100% - 10px);
}

select {
	width: 100%;
}

input, select {
	margin: 0;
	height: 100%;
	padding: 5px;
	background: transparent;
	position: relative;
}

.field > input {
	z-index: 2;
}

.label-wrapper {
	z-index: 2;
}

	.label-wrapper:hover, input.floating-label:hover + .label-wrapper {
		z-index: 1;
	}

.floating-label label {
	position: absolute;
	letter-spacing: 0.171em;
}

.floating-label label, .errors {
	margin-top: 5px;
}


/* error message css */
.errors {
	margin-top: 5px;
	position: absolute;
	right: 0;
}

/* button css */
.button-area {
	height: 100px;
	text-align: center;
	margin: auto;
}

.button-grid {
	display: grid;
	width: 300px;
	grid-template-columns: 50fr 50fr;
	grid-column-gap: 5px;
	margin: auto;
}

.form-button {
	border-radius: 25px;
	width: 120px;
	height: 40px;
	transition: all 0.3s;
	text-transform: lowercase;
	margin: auto;
}
/* ***END GENERAL CSS FOR LOGIN/REGISTER PAGES*** */

.grid-container.fnln {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}

.grid-container.csz {
	display: grid;
	grid-template-columns: 20fr 10fr 15fr;
	grid-column-gap: 20px;
	position: relative;
}