html, body, body > div {
	width: 100%;
	height: 100%;
	margin: 0;
}

body { background-color: #CCC; }

/* *** CSS SPECIFIC FOR BOTH LOGIN/REGISTER PAGES *** */
.userform.body-wrapper {
	min-width: 700px;
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

/* general flex container css */
.userform.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 100%;
}

	/* left-side css */
	.userform .flex-container.main-flex {
		flex: 2;
	}

	/* right-side css */
	.userform .flex-container.login-flex,
	.userform .flex-container.register-flex {
		flex: 1%;
		justify-content: flex-end;
		height: 100%;
		max-width: 550px;
	}

#login #login-area, #register #register-area {
	height: 100%;
	border-right: 1px solid #000;
	background-color: #c5c1c0;
	width: 100%;
}

#profile-wrapper {
	width: 450px;
	margin: auto;
}

/* css to keep login/register sidebar the full height of a page */
.userform .sticky-wrapper {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: sticky;
	top: 5%;
	background-color: inherit;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	scrollbar-width: none;
}

/* title/logo area css */
.userform .logo {
	height: 100px;
	background-image: linear-gradient(to bottom, rgba(247,206,62,1), rgba(255,0,0,0));
	width: 100%;
	padding: 8% 0;
	text-align: center;
}

.userform .logo h3 {
	font-size: 60px;
	text-align: center;
	margin-top: 0px;
}

/* registration form css */
#login-form, #register-form {
	width: 450px;
	height: 55%;
	margin: auto;
}

#login-wrapper, #register-wrapper {
	width: 100%;
	margin: 8% 0;
}

.userform .field-row {
	width: 100%;
	margin-bottom: 40px;
}

.userform .field { position: relative; }

/* floating label css */
.userform input.floating-label,
.userform select.floating-label {
	margin: 0;
	width: 100%;
	height: 30px;
	font-size: 18px;
	background: transparent;
	border: none;
	border-bottom: 1px solid gold;
	z-index: 1;
	position: relative;
}

	/* hide placeholder text */
	.userform input.floating-label::placeholder,
	.userform select.floating-label::placeholder
	{ opacity: 0; }

	/* remove outline when input field is active */
	.userform input.floating-label:focus,
	.userform select.floating-label:focus
	{ outline: none; }


/* initial label positioning */
.userform input.floating-label + label,
.userform select.floating-label + label {
	position: absolute;
	transition: all 0.3s;
	font-size: 18px;
	left: 0;
}
	/* maintain label floating when input is focused or contains data */
	.userform input.floating-label:focus + label,
	.userform select.floating-label:focus + label,
	.userform input.floating-label:not(:placeholder-shown) + label,
	.userform select.floating-label:not(:placeholder-shown) + label
	{ transform: scale(0.85) translateY(-20px) translateX(-20px); }

/* error message css */
.userform .errors {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: red;
	margin-top: 5px;
	position: absolute;
	left: 0;
	bottom: -20px;
}

/* button css */
.button-area {
	height: 100px;
	text-align: center;
	margin: auto;
}

.button-area button {
	background-color: #f7ce3e;
	font-size: 20px;
	border: none;
	border-radius: 25px;
	width: 120px;
	height: 40px;
	transition: all 0.3s;
	text-transform: lowercase;
	margin-right: 20px;
}

	.button-area button:hover { background-color: #ffe073; }
/* ***END GENERAL CSS FOR LOGIN/REGISTER PAGES*** */

/* ***CSS SPECIFIC TO REGISTER PAGE*** */
/* grid css for name row and city/state/zip row in register form */
#register .grid-container.fnln {
	display: grid;
	grid-template-columns: 215px 215px;
	grid-column-gap: 20px;
}

#register .grid-container.csz {
	display: grid;
	grid-template-columns: 220px 70px 120px;
	grid-column-gap: 20px;
	position: relative;
}

/* error message css */
.error { position: relative; }
/* ***END CSS SPECIFIC TO REGISTER PAGE*** */