/*body {
	background-color: #2c3531;
}*/

#logged-in {
	display: table;
	height: auto;
	width: 950px;
	margin: 0 auto;
	box-shadow: 10px 10px #888888;
	margin-bottom: 50px;
	border: 1px solid;
}

#logged-in .logo, #logged-in #main, #logged-in #navigation {
	display: table;
	width: 100%;
}

#logged-in .logo {
	height: 50px;
	background-color: #6b9080;
	text-align: center;
}

#logged-in .logo h3 {
	font-size: 40px;
	color: #cce3de;
	text-align: center;
}

.ptitle h2 {
	text-align: center;
}

#logged-in #navigation-wrapper {
	height: 40px;
	background-color: #a4c3b2;
	text-align: center;
}

#logged-in #navigation {
	height: 100%;
}

#logged-in #navigation a {
	display: table-cell;
	width: 20%;
	vertical-align: middle;
}

#logged-in #main {
	background-color: #eaf4f4;
}

	#logged-in #main p {
		padding-left: 10px;
		padding-right: 10px;
	}

#history-table {
	width: 100%;
	text-align: center;
}

#profile-wrapper .errors {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: red;
}

#profile-wrapper .hints {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #444;
}